@import '@basketeasy/ui/styles/globals.css';

* {
  box-sizing: border-box;
}

body {
  @apply bg-ground text-charcoal;
  margin: 0;
  font-family: 'Atkinson Hyperlegible', Verdana, system-ui, sans-serif;
}
